/* MAIN */
:root {
  --montserrat: Montserrat, sans-serif;
  --worksans: Work Sans, sans-serif;
  --primered: #d10014;
  --primeblue: #121026;
  --copyright: #090818;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: var(--worksans);
  margin: 0;
}

div.grid-container {
  display: grid;
  grid-template-areas: "header header header header" "header header header header" "main main main main" "main main main main" "footer footer footer footer";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, auto);
  /* grid-gap: 1rem; */
}

header#header {
  grid-area: header;
}

main.main {
  grid-area: main;
}

footer#footer {
  grid-area: footer;
}

/* Header Styles */
#dm-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primered);
  padding: 0.7rem 4rem;
}

span#time {
  background-color: #fff;
  color: var(--primered);
  font-weight: 600;
  padding: 2px 4px;
  border-radius: 2px;
}

#date-time {
  color: #fff;
}

div.social-media .fa {
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

#title {
  font-weight: 700;
  font-family: var(--montserrat);
  font-size: 2rem;
  color: #fff;
  background-color: var(--primeblue);
  padding: 1.5rem 4rem;
}

#caption {
  font-size: 1rem;
  padding: 0.5rem 0;
}

nav#navbar ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0 4rem;
  background-color: var(--primered);
}

nav#navbar ul li a, nav#navbar ul li span {
  display: block;
  font-family: var(--montserrat);
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding: 1rem;
  text-decoration: none;
}

nav#navbar ul li a:hover {
  opacity: 0.75;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: var(--primered);
  z-index: 5;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.effect::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: #fff;
  transition: width 0.3s;
}

.effect:hover::after {
  width: 100%;
  transition: width 0.3s;
}

/* Footer Styles */
div.divide-line {
  margin-bottom: 1rem;
  height: 2px;
  background-color: #1a182e;
  width: 100%;
}

div.footer-container {
  background-color: var(--primeblue);
  padding: 1.5rem 4rem;
}

div.footer-title div.name {
  color: #fff;
  font-weight: 700;
  font-family: var(--montserrat);
  font-size: 2rem;
  padding: 1rem 0;
}

div.copyright {
  display: flex;
  justify-content: space-between;
  background-color: var(--copyright);
  color: #aaaed1;
  padding: 1.5rem 4rem;
}

div.footer-nav nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

div.footer-nav nav ul li a {
  display: block;
  color: #aaaed1;
  text-decoration: none;
  padding: 0 0.5rem;
}

div.footer-nav nav ul li a:hover {
  color: #fff;
}

/* Home Page ONLY */
div.tags-container {
  display: flex;
  align-items: center;
  padding: 1rem 4rem;
  background-color: #fff;
}

strong#top-tags {
  color: #383b42;
  font-size: 14px;
  font-weight: 600;
  margin-right: 0.5rem;
}

ul.tags-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.tags-list li {
  margin-right: 0.5rem;
}

ul.tags-list li a {
  text-decoration: none;
  padding: 2px 4px;
  color: var(--primered);
  background-color: #f3eeee;
  font-weight: 600;
  font-size: 12px;
  border-radius: 2px;
}

ul.tags-list li a:hover {
  color: #fff;
  background: var(--primered);
}

div.latest-container {
  display: flex;
  background-color: #fff;
  align-items: center;
  margin: 0;
  padding: 0 4rem;
}

div.latest-posts {
  position: relative;
  margin-right: 24px;
}
div.latest-posts::after {
  content: "";
  position: absolute;
  top: 0;
  right: -24px;
  border-top: 34px solid transparent;
  border-left: 24px solid var(--primered);
}
div.latest-posts h2 {
  background-color: var(--primered);
  color: #fff;
  font-family: var(--montserrat);
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
  padding: 0.5rem 1rem;
}

div.latest-posts span {
  border-style: solid;
  border-width: 55px 0 0 50px;
  border-left-color: var(--primered);
  border-color: transparent transparent transparent var(--primered);
}

div.main-container {
  background-color: #eee;
  padding: 1rem 3rem 0;
}

div.main-row {
  display: flex;
  flex-wrap: wrap;
}

div.main-row > div {
  padding: 0 1rem;
}

div.main-row div:nth-child(1) {
  flex: 0 0 66.66%;
}

div.main-row div:nth-child(2) {
  flex: 0 0 33.33%;
}

.ct {
  background-color: teal;
  position: relative;
  overflow-x: hidden;
}
.ct::before, .ct::after {
  position: absolute;
  background-image: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100%;
  width: 10%;
  z-index: 2;
  pointer-events: none;
}
.ct::before {
  top: 0;
  left: 0;
}
.ct::after {
  top: 0;
  right: 0;
  transform: rotateZ(180deg);
}
.ct .cts {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  min-width: 100%;
}
.ct .cts:hover .news-message {
  animation-play-state: paused;
}
.ct .cts .news-message {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  animation: slide-left 20s linear infinite;
}
.ct .cts .news-message a {
  color: var(--primered);
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 100;
  padding: 0 0.5em;
  text-decoration: none;
}
.ct .cts .news-message a::before {
  content: "\f0a9";
  font-family: FontAwesome;
  font-size: 0.8rem;
  margin-right: 0.5rem;
}
@keyframes slide-left {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

/* Left */
.carousel-frame {
  position: relative;
  height: 500px;
}

.carousel-track {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
.carousel-track .carousel-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.carousel-track .carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel-track .carousel-slide .slide-caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 3rem;
}
.carousel-track .carousel-slide .slide-caption h4.post-title a,
.carousel-track .carousel-slide .slide-caption div.post-meta a,
.carousel-track .carousel-slide .slide-caption span.post-date {
  color: #fff;
}
.carousel-track .carousel-slide .slide-caption h4.post-title a:hover {
  color: var(--primered);
}

.fade {
  transition: opacity 0.55s linear;
}
.fade:not(.show) {
  opacity: 0;
}

div.post-camera {
  margin-bottom: 1.5rem;
}

div.post-camera span {
  color: #fff;
  background-color: var(--primered);
  padding: 0.5rem;
  border-radius: 4px;
  border-width: 2px;
}

.slider-button {
  position: absolute;
  top: 50%;
  cursor: pointer;
  width: 35px;
  height: 35px;
  padding: 0.5rem;
  background: #fff;
  color: #333;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 20%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 2;
}

/*posion the left an right button horizontally */
.button-left {
  left: 10px;
}

.button-right {
  right: 10px;
}

.carousel-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  z-index: 2;
  width: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.carousel-dots button {
  width: 15px;
  height: 15px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.carousel-dots .active {
  background-color: rgba(116, 116, 116, 0.8);
}

/* Right */
ul.nav-tabs {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ul.nav-tabs > li {
  flex: 1;
  text-align: center;
}

ul.nav-tabs > li a {
  display: block;
  color: #212121;
  background-color: #fff;
  border-width: 1px 1px 2px 1px;
  border-style: solid;
  border-color: #eee;
  padding: 0.5rem;
  text-decoration: none;
  font-weight: 400;
}

ul.nav-tabs > li a.active {
  border-bottom-color: var(--primered);
  cursor: default;
}

ul.nav-tabs > li a i {
  margin-right: 4px;
}

div.tab-content ul.list-posts {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

div.tab-content ul.list-posts > li {
  padding: 0.5rem;
  margin: 0 0 0.5rem 0;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.17);
}

div.post-category {
  margin: 0 0 0.7rem 0;
}

div.post-category a {
  display: inline-block;
  text-decoration: none;
  background-color: var(--primered);
  color: #fff;
  padding: 4px 6px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 3px;
  margin-right: 4px;
}

div.post-category a:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
}

div.post-content div.post-title a {
  display: block;
  text-decoration: none;
}

div.post-content div.post-title a h5 {
  color: #212121;
  margin: 0;
  line-height: 1rem;
  font-family: var(--montserrat);
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: -0.05em;
  padding-right: 0.5rem;
}

/* Main Section w/ Posts and Sidebar */
div.main-section {
  background-color: #eee;
}

div.section-row {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 3rem;
}

div.section-row > * {
  padding: 0 1rem;
}

div.article-container, div.main-content {
  flex: 0 0 66.66%;
}

aside.sidebar {
  flex: 0 0 33.33%;
}

article.article-item {
  background-color: #fff;
  padding: 1rem 0;
  margin: 0 0 1rem 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  border: 1px solid #dddcdc;
  border-radius: 5px;
}

article.article-item div.article-inner {
  padding: 1rem;
}

h4.post-title {
  color: #212121;
  margin: 1.5rem 0;
  line-height: 1.2;
  font-family: var(--primered);
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: -0.05em;
  padding-right: 0.5rem;
}

h4.post-title a {
  display: block;
  text-decoration: none;
  color: #212121;
}

div.post-meta a, span.post-date {
  color: #bdbdbd;
  font-size: 12px;
  font-weight: 500;
  line-height: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

div.post-meta a {
  text-decoration: none;
}

div.post-meta a:hover {
  color: var(--primered);
}

div.post-meta i {
  color: #999;
  padding-right: 4px;
}

span.post-date {
  margin-right: 1rem;
}

/* Sidebar */
div.widget-container {
  background-color: #fff;
  border: 1px solid #eee;
  margin-bottom: 2rem;
}

div.widget-title {
  display: flex;
  border-bottom: solid var(--primered);
  margin-bottom: 1rem;
}

div.widget-title h6 {
  background-color: var(--primered);
  color: #fff;
  font-family: var(--montserrat);
  font-weight: 600;
  font-size: 1rem;
  margin: 0;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  letter-spacing: -0.05em;
}

div.widget-container ul {
  padding: 10px 20px;
  margin: 0 0 1rem 0;
  list-style-type: none;
}

div.widget-container ul li {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #eee;
  padding: 0.7rem;
  margin: 0 0 0.7rem;
  transition: all 0.4s ease-in-out 0s;
}

div.widget-container ul li:last-child {
  border: none;
}

div.widget-container ul li a {
  font-weight: 400;
  color: #222;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

div.widget-container ul li a:hover {
  color: var(--primered);
  padding-left: 10px;
  transition: all 0.4s ease-in-out 0s;
}

/* Missed ALL PAGES */
div.missed-container {
  background-color: #eee;
  padding: 4rem;
}

div.missed-inner {
  background-color: #fff;
}

div.missed-row {
  display: flex;
  flex-wrap: wrap;
}

div.missed-row div:first-child {
  flex: 0 0 100%;
}

div.missed-row > div:not(:first-child) {
  flex: 0 0 25%;
  display: flex;
  align-items: stretch;
}

div.missed-row > div {
  padding: 1rem;
}

div.missed-post {
  padding: 1rem;
}

div.back-img {
  background-color: #333;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

div.missed-row h4.post-title a,
div.missed-row div.post-meta a,
div.missed-row span.post-date {
  color: #fff;
}

div.missed-row h4.post-title a:hover,
div.missed-row div.post-meta a:hover,
div.missed-row span.post-date:hover {
  color: #d10014;
}

/* Heading (Some pages) */
.main-heading {
  background-color: #fff;
  padding: 1.5rem 4rem;
}

.main-heading h2 {
  color: #222;
  font-family: var(--montserrat);
  font-weight: 700;
  margin: 0;
  letter-spacing: -0.05em;
}

.main-content {
  padding: 0 1rem;
  background-color: #fff;
  font-family: var(--montserrat);
}

.main-content section p {
  margin: 0;
  padding: 1.5rem;
}

/* CONTACT PAGE ONLY */
form#contact-form > div:not(:first-child):not(:last-child) {
  margin: 1.5rem 0;
}

form#contact-form div.name-email {
  display: flex;
  justify-content: space-between;
}

form#contact-form div.name-email div {
  flex: 0 0 49%;
}

#contact-form {
  padding: 1rem 1.5rem;
}

#contact-form label {
  font-family: var(--montserrat);
}

#contact-form input[type=text], #contact-form textarea[id=message],
#contact-form input[type=email], #contact-form select[id=country] {
  border: 2px solid #000;
  border-radius: 4px;
  outline: none;
  width: 100%;
  margin: 0.5rem 0;
  padding: 1rem;
}

#contact-form input[type=text]:focus, #contact-form textarea[id=message]:focus,
#contact-form input[type=email]:focus, #contact-form select[id=country]:focus {
  border: 2px solid var(--primered);
}

#contact-form textarea[id=message] {
  font-family: var(--montserrat);
  resize: none;
}

#contact-form input[type=submit] {
  background-color: rgba(6, 159, 230, 0.8);
  color: #fff;
  padding: 1rem;
  border: none;
  cursor: pointer;
}

#contact-form input[type=submit]:hover {
  background-color: #167e1f;
}

/* Responsive, media queries */
@media (max-width: 768px) {
  div.grid-container {
    display: grid;
    grid-template-areas: "header header header header" "header header header header" "main main main main" "main main main main" "footer footer footer footer";
  }
}
@media (max-width: 768px) {
  div.main-row div:nth-child(1) {
    flex: 0 0 100%;
  }

  div.main-row div:nth-child(2) {
    flex: 0 0 100%;
  }
}
@media (max-width: 768px) {
  div.article-container, div.main-content {
    flex: 0 0 100%;
    margin-bottom: 1rem;
  }

  aside.sidebar {
    flex: 0 0 100%;
  }
}
@media (max-width: 768px) {
  div.missed-row > div:not(:first-child) {
    flex: 0 0 100%;
  }

  /* div.slide-person {
    height: 100%;
  } */
}
@media (max-width: 600px) {
  h4.post-title {
    font-size: initial;
  }

  div.footer-container {
    padding: 1rem;
  }

  div.footer-nav {
    padding: 1rem 0;
  }

  div.copyright {
    flex-direction: column-reverse;
    padding: 1rem;
  }
}

/*# sourceMappingURL=styles.css.map */
