/* CONTACT PAGE ONLY */
form#contact-form > div:not(:first-child):not(:last-child) {
    margin: 1.5rem 0;
  }
  
  form#contact-form div.name-email {
    display: flex;
    justify-content: space-between;
  }
  
  form#contact-form div.name-email div {
    flex: 0 0 49%;
  }
  
  
  #contact-form {
    padding: 1rem 1.5rem;
  }
  
  #contact-form label {
    font-family: var(--montserrat);
  }
  
  #contact-form input[type=text], #contact-form textarea[id=message], 
  #contact-form input[type=email], #contact-form select[id=country] {
    border: 2px solid #000;
    border-radius: 4px;
    outline: none;
    width: 100%;
    margin: 0.5rem 0;
    padding: 1rem;
  }
  
  #contact-form input[type=text]:focus, #contact-form textarea[id=message]:focus,
  #contact-form input[type=email]:focus, #contact-form select[id=country]:focus {
    border: 2px solid var(--primered);
  }
  
  #contact-form textarea[id=message] {
    font-family: var(--montserrat);
    resize: none;
  }
  
  #contact-form input[type=submit] {
    background-color: rgba(6, 159, 230, 0.8);
    color: #fff;
    padding: 1rem;
    border: none;
    cursor: pointer;
  }
  
  #contact-form input[type=submit]:hover {
    background-color: rgba(22, 126, 31, 1);
  }